extends ../layout

block content
  h1= title
  p Welcome to #{title}

  table
    th Id
    th Text
    each todo in todos
      tr
        td #{todo.id}
        td #{todo.text}
        td
          a(onclick='window.DeleteTodo(this, #{todo.id})') delete me
